# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

# Ignore log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build folder (if applicable)
build/
dist/

# Ignore OS-specific files
.DS_Store           # macOS
Thumbs.db           # Windows
.idea/              # WebStorm project settings
.vscode/            # Visual Studio Code settings

# Ignore cache and temp files
*.tmp
*.cache
*.pid
*.seed
*.pid.lock
tmp/
temp/

# Ignore coverage files from test tools like Jest
coverage/

# Ignore other files/directories
*.swp                 # Swap files for text editors
*.sublime-workspace   # Sublime Text project workspace
*.sublime-project     # Sublime Text project file
